@import url(http://fonts.googleapis.com/css?family=Roboto);

body{
  font-family: 'Roboto', sans-serif;
}

.center{
  text-align: center;
}

.logos{
  img{
    max-height: 200px;
    padding: 20px;
  }
}

@media (min-width: 71.25em) {
  p {
    font-weight: bold;
  }
}

@media (min-width: 71.25em) {
    body {
        background-color: white;
    }
}