{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "extends": ["eslint:recommended", "plugin:react/recommended"]
    },
    "extends": [
        "standard"
    ],
    "env": {
        "browser": true
    },
    "globals": {
    },
    "rules": {
        "generator-star-spacing": 0,
        "indent": [2, 4],
        "operator-linebreak": [2, "after"],
        "semi": [2, "always"],
        "jsx-indent-props": [0, 4],
        "no-warning-comments": [1, {
            "terms": ["todo", "fixme", "xxx"],
            "location": "start"
        }]
    }
}
