@include keyframes(spin) {
    0% { @include transform(rotate(0deg)); }
    100% { @include transform(rotate(360deg)); }
};

@include keyframes(grow-fade) {
  0% { @include transform(scaleY(0)); opacity:0; }
  50% { @include transform(scaleY(1)); opacity:1; }
  100% { @include transform(scaleY(0)); opacity:0; }
}

@include keyframes(shrink) {
    15% { @include transform(scale(1)); }
    50% { @include transform(scale(.9)); }
    85% { @include transform(scale(1)); }
}

@include keyframes(left-to-right) {
    0% { @include transform(translateX(-50%)); }
    50% { @include transform(translateX(50%)); }
    100% { @include transform(translateX(-50%)); }
}

@include keyframes(slide-in) {
    0% { @include transform(translate3d(60px, 0, 0)); }
    100% { @include transform(translate3d(0, 0, 0)); }
}

@include keyframes(slide-up) {
    0% { @include transform(translate3d(0, 100%, 0)); }
    100% { @include transform(translate3d(0, 0, 0)); }
}

@include keyframes(bounce-in) {
  0% { @include transform(scale(0)); }
  60% { @include transform(scale(1.2)); }
  100% { @include transform(scale(1)); }
}

@include keyframes(pulsate) {
  0% { opacity: 0; @include transform(scale(0));}
  30% { opacity: 1; }
  80% { opacity: 0; @include transform(scale(1));}
  100% { opacity: 0; @include transform(scale(1));}
}
