* {
    box-sizing: border-box;

    &::after,
    &::before {
        box-sizing: border-box;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include custom-selection($color-amundi-lightblue);

    // html.is-mobile &:not(input):not(textarea) {
    &:not(input):not(textarea) {
        @include prevent-selection;
    }
}

html,
body {
    // WARNING: this prevents :active styles from being applied on mobile
    // when document is higher than viewport
    // position: relative; // Needed with off-canvas transformations - Src: http://stackoverflow.com/a/17499101
    height: 100%;
    width: 100%;
    overflow: hidden;

    // Prevent overscroll on iOS
    // https://www.bram.us/2016/05/02/prevent-overscroll-bounce-in-ios-mobilesafari-pure-css/
    // JS solution: http://stackoverflow.com/a/26853900
    position: fixed;
    top: 0;
    left: 0;

    background-color: $base-color-background;
}

html {
    font-size: 16px; // let's use rem units // $base-font-size
}

body {
    @include font-regular;
    color: $base-color-font;
    line-height: $base-line-height;

    // @include font-size($base-font-size); // added on <html> in order to use rem units
    @include font-smoothing;

    // Avoid visible rectangle when taping on iOS/Android
    @include webkit-no-tap-highlight;

    // Style scrollbar: https://css-tricks.com/almanac/properties/s/scrollbar/
    // ::-webkit-scrollbar-thumb {
    //     background-color: $color-black;
    // }
}


// Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers
// https://github.com/h5bp/html5-boilerplate/issues/440
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


// Set max-width for these elements
audio,
canvas,
iframe,
img,
svg,
video,
picture {
    max-width: 100%;
}


// Preserve ratio of images and pictures
img,
picture {
    margin: 0;
    height: auto;
}


// Remove default fieldset styles.
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


// Disable resizing of textareas.
textarea {
    resize: none; // vertical
}


// Avoid lists' default styling
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}