// sizes
$status-bar-shift: 20px;

$header-height: 80px;
$navbar-height: 70px;

$input-height: 52px;
$banner-max-width: 600px;
$list-entry-border-radius: 4px;

$img-width-max: 1400px;

// font size
$base-font-size: 16px;

// TODO: check if sizes are still ok when using modular scale (see _typograhy.scss)
// $h1-font-size: 70px;
// $h2-font-size: 34px;
// $h3-font-size: 22px;
// $h4-font-size: 18px;
// $h5-font-size: 14px;
// $h6-font-size: 12px;
// $p-font-size: 15px;


// margins/paddings
$content-margin: 11px;

$text-small-spacing: .25em;
$text-large-spacing: .5em;
$text-verylarge-spacing: 1em;
$text-ultralarge-spacing: 2em;


// line-heights
$base-line-height: 1.4;
$heading-line-height: 1.2;


// durations
$hover-transition-duration: .3s;
$overlay-animation-duration: .4s;
$image-transition-duration: .6s;


// z-indexes
// custom map used in the function get-zindex()
$z-layers: (
    'modal': 40,
    'menu': 30,
    'menu-overlay': 29,
    'loader': 20,
    'header': 10,
    'qrscan': 5,
    'above': 1,
    'base': 0,
    'below': -1
);


// retina
$retina-density: 1.5;
$retina-breakpoint: 600px;
