// Base sizes
$base-font-size: 16px;


// html classes
$class-mobile: 'ismobile';
$class-ios: 'isios';
$class-android: 'isandroid';
$class-safari: 'issafari';
$class-old: 'iscrappy';
$class-ie: 'isie';

$class-touch: 'istouch';
$class-touch-probable: 'isprobabletouch';

$class-scroll-lock: 'lock-scroll';


// Bourbon config
// Modular scale ratios: https://github.com/thoughtbot/bourbon/blob/master/core/bourbon/helpers/_scales.scss
$bourbon: (
    'global-font-file-formats': ('ttf', 'woff2', 'woff'),
    'modular-scale-base': $base-font-size,
    'modular-scale-ratio': $minor-third
);


// fonts
$p-font-size: $base-font-size;
$h6-font-size: modular-scale(1);
$h5-font-size: modular-scale(2);
$h4-font-size: modular-scale(3);
$h3-font-size: modular-scale(4);
$h2-font-size: modular-scale(5);
$h1-font-size: modular-scale(6);

$p-font-size-print: 12pt;
$h6-font-size-print: 12pt;
$h5-font-size-print: 13pt;
$h4-font-size-print: 14pt;
$h3-font-size-print: 16pt;
$h2-font-size-print: 18pt;
$h1-font-size-print: 24pt;

$base-line-height: 1.4;
$heading-line-height: 1.2;

$text-spacing-s: .25em;
$text-spacing-m: .5em;
$text-spacing-l: 1em;
$text-spacing-xl: 1.5em;
$text-spacing-xxl: 2em;


// durations
$hover-transition-duration: .3s;
$overlay-animation-duration: .4s;
$image-transition-duration: .6s;


// z-indexes
// custom map used in the function get-zindex()
$z-layers: (
    'modal': 40,
    'menu': 30,
    'loader': 20,
    'header': 10,
    'above': 1,
    'base': 0,
    'below': -1
);


// retina
$retina-density: 1.5;
$retina-breakpoint: 600px;
